## Challenge A: Password Validator

Description
Your job is to create a simple password validation function, as seen on many websites.

The rules for a valid password are as follows:

There needs to be at least 1 uppercase letter. There needs to be at least 1 lowercase letter. There needs to be at least 1 number. The password needs to be at least 8 characters long.

You are permitted to use any methods to validate the password.

In [ ]:
# your code here

## Challenge B: Credit Card Validator

Description
Your task is to write a program which reads credit card number prints the validation result ‘Valid’ or ‘Invalid’.

A valid credit card has following features:

It should start with 4, 5 or 6
It should have exactly 16 digits
It should only consist of digits (0-9)
It may have digits in groups of 4 and separated by one hyphen "-"
It should NOT use any other separator like ‘ ’,‘_’, etc.
It should NOT have 4 or more consecutive repeated digits
Valid Credit Card Numbers:

4263525778615786
5535535535559555
6344-2389-7542-9163
Invalid Credit Card Numbers:

42536258796157867
66266666626662666
5122-2368-7954 -3214
44244x4424442444
0525362587961578

In [ ]:
# your code here

## Challenge C: Multiplication Table
Description
Your task, is to create a function which returns a NxN multiplication table, of size N provided as a function argument.

for example, when given size is 3:

1 2 3

2 4 6

3 6 9

So for the given example, the return value should be: [[1,2,3],[2,4,6],[3,6,9]]

In [9]:
# your code here
def multiplication_table(n):
    if n > 0:
        return [[a*i for a in range(1, n+1)] for i in range(1, n+1)]
    elif n == 0:
        return [0]
    else:
        return [[-a*i for a in range(1, -n+1)] for i in range(1, -n+1)]

number = input('Give me a number:')
try:
    print(multiplication_table(int(number)))
except ValueError:
    print('You have to give a number. Try again.')

Give me a number:5
[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [10]:
def pascal_triangle(n):
    #Liste imbriquée avec des 0
    T = [[0] * (n+1) for n in range(n+1)]
    for n in range(n+1):
    # Si le nombre donné est 0 alors la liste ne contient que 1
        if n == 0:
            T[n][0] = 1
        else:
            for p in range(n+1):
            # le premier chiffre de chaque liste est égale à 1
                if p == 0:
                    T[n][p] = 1
            # le dernier chiffre de chaque liste est égale à 1
                elif p == n:
                    T[n][p] = 1
            # Calcul de T[n][p] qui est égal au chifre en diagonal à gauche et au-dessus
                else:
                    T[n][p] = T[n-1][p-1] + T[n-1][p]
    for n in range(n+1):
    #Affichage des listes à la suite pour créer un triangle
        print(T[n])


pascal_triangle(3)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

In [ ]:
#je creer une liste contenant ma premiere ligne
ancienneliste = [1]

#je demande a l'utilisateur de me donner le nombre de ligne
n=int(input('Combien de ligne souhaitez-vous afficher ?'))
#une boucle pour obtenir n ligne qui correspond au nombre choisis
for j in range(n):
    nouvelleliste = ancienneliste + [1] #à chaque fois je creer une nouvelle liste avec ma liste precedente et je rajoute 1
    for i in range(0,len(ancienneliste)-1): #pour qu'il s'arrete un cran avant
        #pour avoir un element de la nouvelle liste je prend un element\
        #de l'ancienne liste auquel je rajoute l'element suivant de la liste
        nouvelleliste[i+1] = ancienneliste[i] + ancienneliste[i+1]
    print(nouvelleliste)
    #pour que le programme se poursuive 
    ancienneliste=nouvelleliste
print(nouvelleliste)

[1]

## Challenge D: ID Assignment
Description
a) You work in a company with 100 people - to start, please create a list of people ranging from Person 1 to Person 100. For company purposes, each of these people is identified with a Personal ID, which is a combination of 2 uppercase letters and a random number of 5 digits. For each person, generate a random ID, and store it in a dictionary alongside their name (for example ('Person 5': 'AB73648')). Then sort the dictionary according to the values of their Personal IDs.

b) One month later, your company changes the ID format for every employee - from now on, every person will have an ID that consists of only letters. In order to convert them, every number in the employee ID should be replaced by the corresponding uppercase letter in the alphabeth. Please write a function that accomplishes this change and apply it to the dictionary.

In [36]:
import random
import string

# Creation liste des employées
employees = [f'Person {i+1}' for i in range(100)] 

#Fonction pour créer des IDs
def ids():
    return ''.join([random.choice(string.ascii_uppercase) for i in range(2)] + 
                   [random.choice(string.digits) for i in range(5)])

#Dictionnaire des personnes et des IDs
employees_Id = {employees[i]:ids() for i in range(100)}

#Classement par Ids
employees_Id_sorted = {k: v for k, v in sorted(employees_Id.items(), key=lambda item: item[1])}

#eviter d'avoir des lignes qui dépassent la fenetre

{'Person 20': 'AK90102', 'Person 13': 'AK96880', 'Person 95': 'AP38028', 'Person 34': 'AT88227', 'Person 4': 'BM06557', 'Person 85': 'BV54516', 'Person 47': 'BX81616', 'Person 62': 'CO05662', 'Person 25': 'CS46996', 'Person 9': 'CW09967', 'Person 44': 'DA50528', 'Person 84': 'DA71100', 'Person 55': 'DI48283', 'Person 76': 'DI63703', 'Person 69': 'DU58530', 'Person 2': 'DZ50790', 'Person 1': 'DZ95498', 'Person 94': 'EC22584', 'Person 39': 'EC75021', 'Person 53': 'EJ47150', 'Person 90': 'ER75158', 'Person 87': 'FB53958', 'Person 100': 'FL98952', 'Person 38': 'GE42307', 'Person 29': 'GH15280', 'Person 83': 'HO86012', 'Person 16': 'HS41175', 'Person 81': 'JE42220', 'Person 61': 'JF42876', 'Person 73': 'JM05397', 'Person 31': 'KD50685', 'Person 63': 'KH79810', 'Person 10': 'KM52479', 'Person 19': 'KM79159', 'Person 35': 'KT39562', 'Person 50': 'KW48194', 'Person 14': 'LG48071', 'Person 36': 'LG61851', 'Person 18': 'LP98887', 'Person 97': 'LR34751', 'Person 42': 'LT71601', 'Person 60': 'LU02161', 'Person 6': 'LV04273', 'Person 33': 'LW01936', 'Person 23': 'LY17323', 'Person 99': 'LZ26439', 'Person 49': 'LZ52923', 'Person 78': 'MI72949', 'Person 64': 'NF08384', 'Person 52': 'NR07060', 'Person 41': 'NY36120', 'Person 7': 'NY71133', 'Person 88': 'OL54286', 'Person 46': 'OR36230', 'Person 65': 'PH93757', 'Person 48': 'PN11661', 'Person 98': 'PU14541', 'Person 72': 'QC99528', 'Person 22': 'QK30774', 'Person 86': 'QR70597', 'Person 8': 'QT98208', 'Person 92': 'QY86514', 'Person 77': 'RF82338', 'Person 51': 'RG79814', 'Person 12': 'SA72131', 'Person 27': 'SF03021', 'Person 89': 'SF34860', 'Person 93': 'SF41629', 'Person 17': 'SG02579', 'Person 74': 'SK70142', 'Person 56': 'TD79694', 'Person 91': 'TH85390', 'Person 58': 'TH89495', 'Person 82': 'TI61005', 'Person 21': 'TK53046', 'Person 15': 'TO24619', 'Person 59': 'TO69642', 'Person 75': 'TO88074', 'Person 37': 'TP39553', 'Person 11': 'UN33983', 'Person 30': 'VO81477', 'Person 70': 'VU41686', 'Person 80': 'WE61635', 'Person 68': 'WF94183', 'Person 43': 'WI37805', 'Person 26': 'WI39729', 'Person 67': 'WK27846', 'Person 24': 'WW77410', 'Person 66': 'WY57846', 'Person 57': 'XA69182', 'Person 45': 'XE13764', 'Person 71': 'XF60131', 'Person 54': 'XZ30112', 'Person 79': 'YE76895', 'Person 5': 'YG48724', 'Person 96': 'YK53456', 'Person 3': 'ZA85608', 'Person 28': 'ZJ86962', 'Person 40': 'ZP40352', 'Person 32': 'ZR81514'}

In [39]:
corresp = {0:'A',1:'B',2:'C',3:'D', 4:'E',5:'F',6:'G', 7:'H',8:'I',9: 'J'}

In [4]:
new_employees_id = {}
for name,ids in employees_Id.items(): 
    new_id = [] #creation nouvel ID
    for i in list(ids):  # on decoupe les IDs
        if i.isnumeric():  
            i = corresp[int(i)] 
        new_id.append(i) #
    new_employees_Id[name] = "".join(new_id)
print(new_employees_Id)

#pas de majuscules sur les variables
#espace en les "="
#random_ids =/ ids

{'Person 1': 'AZFFIGG', 'Person 2': 'GUFEJHH', 'Person 3': 'DMAAJJC', 'Person 4': 'VPJIDAF', 'Person 5': 'CREJCJH', 'Person 6': 'YZIDAFH', 'Person 7': 'FCBFDDH', 'Person 8': 'LBAHHFA', 'Person 9': 'JKEFCJC', 'Person 10': 'RLGDGBB', 'Person 11': 'JUCDIDC', 'Person 12': 'CFICEGH', 'Person 13': 'YWJCCIC', 'Person 14': 'QTHCDGJ', 'Person 15': 'NXAEGEH', 'Person 16': 'UFHFEIH', 'Person 17': 'JAAJICI', 'Person 18': 'ENGIEJH', 'Person 19': 'RPCGJBG', 'Person 20': 'CSBJEDE', 'Person 21': 'YMJHAAF', 'Person 22': 'HPIJCHC', 'Person 23': 'VBDHEBD', 'Person 24': 'LUADFCB', 'Person 25': 'RYBIEAG', 'Person 26': 'HECHHED', 'Person 27': 'XMBEGGJ', 'Person 28': 'OXABGIA', 'Person 29': 'VTECGDF', 'Person 30': 'VICJIEA', 'Person 31': 'OMAIFDJ', 'Person 32': 'NPDIGHI', 'Person 33': 'KIAEBCF', 'Person 34': 'FAGFABB', 'Person 35': 'VUGAJBI', 'Person 36': 'KZDBGDE', 'Person 37': 'IAAHFAG', 'Person 38': 'KMDIAGG', 'Person 39': 'LDJDJDE', 'Person 40': 'EPFHJFG', 'Person 41': 'HLAGJCJ', 'Person 42': 'MXFECDJ', 'Person 43': 'VSCGDJA', 'Person 44': 'TTIFHJC', 'Person 45': 'VNHEJHC', 'Person 46': 'WNHEDIF', 'Person 47': 'SUCHAII', 'Person 48': 'AIIIGBB', 'Person 49': 'AIAAGDA', 'Person 50': 'QJIECHI', 'Person 51': 'NMGCFGF', 'Person 52': 'MGIBAHJ', 'Person 53': 'EHHICHH', 'Person 54': 'YACAHHE', 'Person 55': 'ZTEHIDF', 'Person 56': 'ZUEBABH', 'Person 57': 'JBFIFDJ', 'Person 58': 'JYGICJD', 'Person 59': 'HJIJFCH', 'Person 60': 'YLDBAAG', 'Person 61': 'FCGGFEI', 'Person 62': 'HSAAFAB', 'Person 63': 'DJDAGFB', 'Person 64': 'EBIDAJI', 'Person 65': 'LRDGCBF', 'Person 66': 'VTCGFIE', 'Person 67': 'NUBBCBD', 'Person 68': 'DBFDCBE', 'Person 69': 'KGHJBFI', 'Person 70': 'UGEJHCI', 'Person 71': 'NIFICDI', 'Person 72': 'LWBCDDF', 'Person 73': 'OLGIDIF', 'Person 74': 'ARAHHAG', 'Person 75': 'IGJEJDG', 'Person 76': 'HVFDDEH', 'Person 77': 'AVBGEII', 'Person 78': 'RKAIAIC', 'Person 79': 'JBFAFJH', 'Person 80': 'PEJHHIH', 'Person 81': 'GDCAAGE', 'Person 82': 'FEIDEDA', 'Person 83': 'NDFIIJC', 'Person 84': 'KHBIHBE', 'Person 85': 'SAJEEDJ', 'Person 86': 'MYFJBJD', 'Person 87': 'UUEHEAE', 'Person 88': 'UWDCJHJ', 'Person 89': 'VBHIGHH', 'Person 90': 'PWFJEAA', 'Person 91': 'TBCCDEI', 'Person 92': 'THHDDJF', 'Person 93': 'ZSFBEDC', 'Person 94': 'PFABEGC', 'Person 95': 'WVJHCJA', 'Person 96': 'JQCHBFE', 'Person 97': 'ICDFHBH', 'Person 98': 'CZABIJI', 'Person 99': 'YQGBHAB', 'Person 100': 'APEHDHF'}

In [ ]:
#Optimisation de la boucle for par une compréhension de liste
#i : correspond à la valeur dans le dict employee_id, càd l'identifiant,.
#ids = la liste des valeurs de dict employee_id.
#corresp[int(i)] : c'est trouver la valeur correspondante au chiffre i dans le dictionnaire corresp

def convert_num_to_char(ids):
    return "".join([corresp[int(i)] if i.isnumeric() else i for i in ids])

In [ ]:
new_employees_id = {name: convert_num_to_char(ids) for name, ids in employees_Id.items()}

print(new_employees_id)

In [ ]:
#Nouvelle façon de définir un identifiant ids avec que des lettres capitales

def new_ids():
    return ''.join([random.choice(string.ascii_uppercase) for i in range(7)])

In [ ]:
#Ajouter le dict 2 au dictionnaire initial new_employee_id

dict2 = {k: new_ids() for k in [f'Person {100+i}' for i in range(1,2)]}

new_employees_id.update(dict2)
print(new_employees_id)

In [ ]:
#Fonction qui demande combien on veut ajouter d'employés

def add_employee(number):
    for i in range(number):    #i étant le nombre d'élément.s ajouté.s au dictionnaire
        new_employees_id[f'Person {len(new_employees_id.keys())+1}'] = ''.join([random.choice(string.ascii_uppercase) for i in range(7)])
        #ajout d'une clé+1 en fonction du nombre de clés précédente = valeur est l'identifiant créé ainsi
        return new_employees_id
    
ask_number = int(input("How ?"))

print(add_employee(ask_number))